@using PlattformChallenge.Core.Model;
@model PlattformChallenge.ViewModels.ChallengeCreateViewModel
@{
    ViewData["Title"] = "Create Challenge";
}

<h1>Create your challenge</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title of your challenge</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Discription for your challenge</label>
                <textarea asp-for="Content" class="form-control" style="height:250px" /></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bonus" class="control-label">Bonus for the best solution (in €)</label>
                <input asp-for="Bonus" class="form-control" />
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release_Date" class="control-label">From which day should your challenge be published?</label>
                <input asp-for="Release_Date" class="form-control" />
                <span asp-validation-for="Release_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max_Participant" class="control-label">Maximum Participants</label>
                <input asp-for="Max_Participant" class="form-control" />
                <span asp-validation-for="Max_Participant" class="text-danger"></span>
            </div>

            <div class="card-body">
                @foreach (Language l in Model.Languages)
            {

            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
            <input type="hidden" asp-for="@Model[i].UserId" />
            <input type="hidden" asp-for="@Model[i].UserName" />

            }


            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
