@model PlattformChallenge.ViewModels.ChallengeDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Challenge Details</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Max_Participant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Max_Participant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.langugaes)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < Model.langugaes.Count; i++)
            {
                <span>  @Model.langugaes.ElementAt(i).DevelopmentLanguage </span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Winner_Id)
        </dt>
        <dd class="col-sm-10">
            <div @{if (Model.Winner_Id == null) }>There is no winner yet </div>
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Best_Solution_Id)
        </dt>
        <dd class="col-sm-10">
            <div @{if (Model.Best_Solution_Id == null) }>There is no best solution yet </div>
        </dd>
    </dl>
</div>
<a asp-action="ParticipationConfirm" asp-route-id="@Model.C_Id">I want to take part in this challenge!</a>
<div>
    <a asp-action="Edit" asp-route-id="@Model.C_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
