@model PlattformChallenge.ViewModels.ChallengeDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Challenge Details</h1>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Max_Participant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Max_Participant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Available_Quota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Available_Quota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Languages)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < Model.Languages.Count; i++)
            {
            if (i < Model.Languages.Count - 1){
            <span>  @Model.Languages.ElementAt(i).DevelopmentLanguage , </span>
            }else{
            <span>  @Model.Languages.ElementAt(i).DevelopmentLanguage </span>
            }
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Winner)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Winner_Id == null) {
            <span> There is no winner yet </span>
            }
            else{
            <span>  @Model.Winner.Name</span>
            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Best_Solution_Id)
        </dt>
        <dd class="col-sm-10">
            <div @{if (Model.Best_Solution_Id==null) }>There is no best solution yet </div>
        </dd>
    </dl>
</div>

@if (ViewContext.HttpContext.User.IsInRole("Programmer"))
{
    if (Model.Available_Quota > 0)
    {
<a asp-action="ParticipationConfirm" asp-route-id="@Model.C_Id" class="btn btn-primary">I want to take part in this challenge!</a>
    }
    else
    {
<p>You can't participate this challenge. There's no place anymore</p>
    }
}
<div>
    @if (ViewContext.HttpContext.User.IsInRole("Company"))
    {
    <a asp-action="Edit" asp-route-id="@Model.C_Id">Edit</a>
    }
</div>
<div>    <a asp-action="Index" class="btn btn-primary">Back to List</a></div>
