@using Microsoft.AspNetCore.Localization;
@model PlattformChallenge.ViewModels.ChallengeDetailViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Details"];
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-white box-shadow">
                <div class="row">
                    <div class="col-md-4 mt-2">
                        <div class="media">
                            <img class="align-self-start mr-3 mb-1" src="/images/time-circle.png" alt="Generic placeholder image" width="30" height="30">
                            <div class="media-body">
                                <div class="row mt-1">    
                                    <div id="release"></div> -- <div id="deadline"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 mt-2">
                        <div class="media">
                            <img class="align-self-start mr-3 mb-1" src="/images/EURO.png" alt="Generic placeholder image" width="30" height="30">
                            <div class="media-body">
                                <div class="row mt-1 text-center ">
                                    <div><strong>Bonus: </strong>@Model.Bonus</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2 ml-1">
                        <div class="media">
                            <img class="align-self-start mr-3 mb-1" src="/images/team.png" alt="Generic placeholder image" width="30" height="30">
                            <div class="media-body">
                                <div class="row mt-1 text-center ml-1">
                                    <div class="row">
                                        <strong> @Localizer["AvailableQuota"]</strong>
                                        <div class="text-info ml-1">@Html.DisplayFor(model => model.Available_Quota) </div>
                                        /
                                        <div>@Html.DisplayFor(model => model.Max_Participant)  </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 mt-1 ">
                        @if (ViewContext.HttpContext.User.IsInRole("Programmer") && Model.CanTakePartIn && Model.Available_Quota > 0)
                        {
                            <button type="button" class="btn btn-primary btn-sm mt-1" data-toggle="modal" data-target="#p">
                                @Localizer["TakePartIn"]
                            </button>
                        }
                        else if (!ViewContext.HttpContext.User.IsInRole("Programmer"))
                        {

                                <button type="button" class="btn btn-secondary btn-sm mt-1" data-toggle="Tooltip"title="@Localizer["RegInfo"]"  disabled>
                                    @Localizer["TakePartIn"]
                                </button>

                        }
                        else if (ViewContext.HttpContext.User.IsInRole("Programmer") && !Model.CanTakePartIn)
                        {
                                <button type="button" class="btn btn-secondary btn-sm mt-1" data-toggle="Tooltip" title="@Localizer["Invalid"]" disabled>
                                    @Localizer["TakePartIn"]
                                </button>
                        }
                        else if (ViewContext.HttpContext.User.IsInRole("Programmer") && Model.CanTakePartIn && Model.Available_Quota == 0)
                        {
                        
                                <button type="button" class="btn btn-secondary btn-sm mt-1" data-toggle="Tooltip" title="@Localizer["NoPlace"]"  disabled>
                                    @Localizer["TakePartIn"]
                                </button>
                            
                            }
                        <div class="modal fade" id="p" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> @Localizer["ConfirmCondition"]   </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @Localizer["ParticipationCondition"]
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="ParticipateChallenge" asp-route-id="@Model.C_Id" class="btn btn-primary">@Localizer["Agree"]</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Disagree"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 ">
            <div class="card bg-white box-shadow ">

                <div class="row mt-2 mb-2 ml-1 mr-1">
                    <div class="col-md-10">
                        <div class="card bg-white  border-0">
                            <div class="card-header bg-white border-0">
                                <h2 class="text-center"> @Model.Title</h2>

                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <div class="media-body">
                                            <div class="mt-0 mb-1">@Html.Raw(Model.Content)</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2 mt-3 mb-3 ml-auto">
                        <div class="card  box-shadow" style="background-color:lightcyan">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <div class="media-body">
                                            <strong class="mt-0 mb-1 ">@Localizer["Company"]</strong>
                                            <a asp-controller="Company" asp-action="Profile" asp-route-c_id="@Model.Com_ID">@Html.DisplayFor(model => model.Company.Name)</a>
                                        </div>
                                    </li>
                                    <li class="media my-2">
                                        <div class="media-body">
                                            <div class="mt-0 mb-1 font-weight-bold">@Localizer["DevLanguage"]</div>


                                            @for (int i = 0; i < Model.Languages.Count; i++)
                                            {
                                                if (i % 3 == 0)
                                                {
                                                    <div class="badge badge-info badge-pill"> @Model.Languages.ElementAt(i).DevelopmentLanguage </div>
                                                }
                                                else if (i % 3 == 1)
                                                {
                                                    <div class="badge badge-success badge-pill"> @Model.Languages.ElementAt(i).DevelopmentLanguage </div> }
                                                else
                                                {

                                                    <div class="badge badge-danger badge-pill"> @Model.Languages.ElementAt(i).DevelopmentLanguage </div>}
                                            }

                                        </div>
                                    </li>
                                    <li class="media my-2">
                                        <div class="media-body">
                                            <strong class="mt-0 mb-1"> @Localizer["WillSolutionOpen"]</strong>
                                            @if (Model.IsSolutionOpen)
                                            {
                                                <img class="align-self-start mr-3 mb-1" src="/images/yes.png" alt="Generic placeholder image" width="20" height="20"> }
                                            else
                                            {
                                                <img class="align-self-start mr-3 mb-1" src="/images/no.png" alt="Generic placeholder image" width="20" height="20">}

                                        </div>
                                    </li>

                                    <li class="media my-2">
                                        <div class="media-body">
                                            <button type="button" class="btn btn-info off-set-2" data-toggle="modal" data-target="#share">
                                                Share
                                            </button>
                                            <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content  " style="width:350px">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Share Challenge</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row mt-2">
                                                                <div class="sharethis-inline-share-buttons md-4  col-md-8"></div>
                                                                <input class="btn btn-info offset-md-1 col-md-3" type="button" value="@Localizer["Copy URL"]" onclick="Copy();" />
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="media my-2">
                                        <div class="media-body">
                                            <a asp-action="Index">@Localizer["AllChallengeList"]</a>
                                        </div>
                                    </li>



                                    <li class="media my-2">

                                        <div class="media-body">
                                            <a asp-controller="Solution" asp-action="List" asp-route-c_Id="@Model.C_Id">  @Localizer["WinnerAndSolution"] </a>
                                        </div>

                                    </li>


                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



@{

    var rqf = Context.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.Culture;
}


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6034eae6b772eb001285a6fd&product=inline-share-buttons" async="async"></script>
    <script type="text/javascript">
    function Copy() {

        navigator.clipboard.writeText(window.location.href).then(
            () => { console.log("done"); },
            (reason) => console.console.log(reason)
        );
        var msg = '@Html.Raw(Localizer["Copy successfully!"].Value.ToString())';
         alert(msg);
        }

        $(document).ready(function () {

            var isEn = "@culture.Name" == "en";

            var re = moment('@Model.Release_Date');
            var deadline = moment('@Model.Deadline');
            if (!isEn) {
                re = moment('@Model.Release_Date', "DD.MM.YYYY HH:mm:ss", true);
                deadline = moment('@Model.Deadline', "DD.MM.YYYY HH:mm:ss", true);
            }

            re = moment.tz(re.format("MM/DD/YYYY HH:mm:ss"), moment.tz.guess()).format("YYYY/MM/DD HH:mm");
            deadline = moment.tz(deadline.format("MM/DD/YYYY HH:mm:ss"), moment.tz.guess()).format("YYYY/MM/DD HH:mm");
            $('#release').html(re);
            $('#deadline').html(deadline);          

        })

    </script>

}
