@model PlattformChallenge.ViewModels.ChallengeEditViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
<script src="https://cdn.tiny.cloud/1/vec3hy3gfy6rcqrhfkinrb5uyzvogsw2iewjccmgzr9vimx9/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name'
    });
</script>
@{
    ViewData["Title"] = @Localizer["EditChallenge"];
}

<h1>@Localizer["EditChallenge"]</h1>


    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Challenge.C_Id" />

                <div class="form-group">
                    <label asp-for="Challenge.Title" class="control-label">@Localizer["Title"]</label>
                    <input asp-for="Challenge.Title" class="form-control" />
                    <span asp-validation-for="Challenge.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Challenge.Content" class="control-label">@Localizer["Discription"]</label>
                    <textarea asp-for="Challenge.Content" class="form-control" style="height:250px"></textarea>
                    <span asp-validation-for="Challenge.Content" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Challenge.Release_Date" />
                <div class="form-group">
                    <label asp-for="Challenge.Release_Date" class="control-label">@Localizer["WhenRelease"]</label>
                    @*<input asp-for="Challenge.Release_Date" class="form-control" />*@
                    <span asp-validation-for="Challenge.Release_Date">@TimeZoneInfo.ConvertTimeFromUtc(Model.Challenge.Release_Date,TimeZoneInfo.Local)</span>
                </div>
                <div class="form-group">
                    <label asp-for="Challenge.Deadline" class="control-label">@TimeZoneInfo.ConvertTimeFromUtc(Model.Challenge.Deadline, TimeZoneInfo.Local)</label>
                    <input asp-for="Challenge.Deadline" class="form-control" />
                    <span asp-validation-for="Challenge.Deadline" class="text-danger"></span>
                </div>



                <input type="hidden" asp-for="Challenge.Com_ID" />
                <div class="form-group">
                    <label asp-for="Challenge.Bonus" class="control-label">@Localizer["Bonus"]</label>
                    <input asp-for="Challenge.Bonus" class="form-control" />
                    <span asp-validation-for="Challenge.Bonus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Challenge.Max_Participant" class="control-label">@Localizer["MaxParticipants"]</label>
                    <input asp-for="Challenge.Max_Participant" class="form-control" />
                    <span asp-validation-for="Challenge.Max_Participant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["DevLanguage"] </label>
                    @for (int i = 0; i < Model.Languages.Count; i++)
                    {
                        <span clss="form-check m-1">
                            <input asp-for="@Model.IsSelected[i]" class="from-check-input" />
                            <label class="form-check-label" asp-for="@Model.IsSelected[i]">@Model.Languages.ElementAt(i).DevelopmentLanguage</label>
                            <input type="hidden" asp-for="@Model.Languages.ElementAt(i).Language_Id" />
                        </span>
                    }
                </div>
                <div>
                    <label class="control-label">@Localizer["BestSichtbarkeit"]:  </label>
                    <span clss="form-check m-1">
                        <input asp-for="@Model.Challenge.AllowOpen" class="from-check-input" />
                        <label class="form-check-label" asp-for="@Model.Challenge.AllowOpen">@SharedLocalizer["Yes"]</label>

                    </span>
                </div>
                <input type="hidden" asp-for="Challenge.Winner_Id" />
                <input type="hidden" asp-for="Challenge.Best_Solution_Id" />
                <div class="form-group">
                    <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
                </div>

            </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
