@model PlattformChallenge.ViewModels.ChallengeEditViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
<script src="https://cdn.tiny.cloud/1/vec3hy3gfy6rcqrhfkinrb5uyzvogsw2iewjccmgzr9vimx9/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


@{
    ViewData["Title"] = @Localizer["EditChallenge"];
}

<h1>@Localizer["EditChallenge"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Challenge.C_Id" />
                <input type="hidden" asp-for="AllowEditDate" />
                <input type="hidden" id="zone" asp-for="Zone">
                <div class="form-group">
                    <label asp-for="Challenge.Title" class="control-label">@Localizer["Title"]</label>
                    <input asp-for="Challenge.Title" class="form-control" />
                    <span asp-validation-for="Challenge.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Challenge.Content" class="control-label">@Localizer["Discription"]</label>
                    <textarea asp-for="Challenge.Content" class="form-control" style="height:250px"></textarea>
                    <span asp-validation-for="Challenge.Content" class="text-danger"></span>
                </div>

                @if (Model.AllowEditDate)
                {
                    <div class="form-group">
                        <label asp-for="Challenge.Release_Date" class="control-label">@Localizer["ReleaseDate"]</label>
                        <input id="release" type="datetime" asp-for="Challenge.Release_Date" class="form-control" />
                        <span asp-validation-for="Challenge.Release_Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Challenge.Deadline" class="control-label">@Localizer["Deadline"]</label>
                        <input id="deadline" type="datetime" asp-for="Challenge.Deadline" class="form-control" />
                        <span asp-validation-for="Challenge.Deadline" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Challenge.Release_Date" />
                    <div class="form-group">
                        <label asp-for="Challenge.Release_Date" class="control-label">@Localizer["ReleaseDate"]</label>                        
                        <input id="release" asp-for="Challenge.Release_Date" disabled/>
                        <div>
                        <span>@Localizer["NoEditInfo"]</span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Challenge.Deadline" />
                    <div class="form-group">
                        <label asp-for="Challenge.Deadline" class="control-label">@Localizer["Deadline"]</label>
                        <input id="deadline" asp-for="Challenge.Deadline" disabled/>
                        <div><span>@Localizer["NoEditInfo"]</span></div>
                    </div>

                }

                <input type="hidden" asp-for="Challenge.Com_ID" />
                <div class="form-group">
                    <label asp-for="Challenge.Bonus" class="control-label">@Localizer["Bonus"]</label>
                    <input asp-for="Challenge.Bonus" class="form-control" />
                    <span asp-validation-for="Challenge.Bonus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Challenge.Max_Participant" class="control-label">@Localizer["MaxParticipants"]</label>
                    <input asp-for="Challenge.Max_Participant" class="form-control" />
                    <span asp-validation-for="Challenge.Max_Participant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["DevLanguage"] </label>
                    @for (int i = 0; i < Model.Languages.Count; i++)
                    {
                        <span clss="form-check m-1">
                            <input asp-for="@Model.IsSelected[i]" class="from-check-input" />
                            <label class="form-check-label" asp-for="@Model.IsSelected[i]">@Model.Languages.ElementAt(i).DevelopmentLanguage</label>
                            <input type="hidden" asp-for="@Model.Languages.ElementAt(i).Language_Id" />
                        </span>
                    }
                </div>
                <div>
                    <label class="control-label">@Localizer["BestSichtbarkeit"]:  </label>
                    <span clss="form-check m-1">
                        <input asp-for="@Model.Challenge.AllowOpen" class="from-check-input" />
                        <label class="form-check-label" asp-for="@Model.Challenge.AllowOpen">@SharedLocalizer["Yes"]</label>

                    </span>
                </div>
                <input type="hidden" asp-for="Challenge.Winner_Id" />
                <input type="hidden" asp-for="Challenge.Best_Solution_Id" />
                <div class="form-group">
                    <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
                </div>

            </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
      document.getElementById("zone").value = moment.tz.guess();
      var re = moment.tz("@Model.Challenge.Release_Date", moment.tz.guess()).format(YYYY/MM/DD hh:mm).toDate();
      document.getElementById("release").value = re;
        var deadline = moment.tz("@Model.Challenge.Deadline", moment.tz.guess()).format(YYYY/MM/DD hh:mm).toDate();
    document.getElementById("deadline").value = deadline;
    </script>
}
