@model IEnumerable<PlattformChallenge.Models.Challenge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_Participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_Participant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.C_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.C_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.C_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
