@using PlattformChallenge.Core.Model
@model PlattformChallenge.ViewModels.ChallengeIndexViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @Localizer["CurrentChallenges"];
}


<h1>@Localizer["CurrentChallenges"]</h1>
@if (ViewContext.HttpContext.User.IsInRole("Company"))
{
    <p>
        <a asp-action="Create">@Localizer["CreateChallenge"]</a>
    </p>
}

@{ViewBag.Title = "Regitser";}
<form asp-action="Index" method="post">
    <div class="form-actions no-color">

        <p>
            @Localizer["FindByTitle"] <input type="text" name="SearchString" asp-for="@Model.SearchString" value="@ViewData["CurrentFilter"]" />

            <a asp-action="Index">@Localizer["ShowFullList"]</a>
        </p>
    </div>

    <div class="form-group">
        <label class="control-label">@Localizer["DevLanguage"] </label>
        @for (int i = 0; i < Model.Languages.Count; i++)
        {

            <div class="form-check-inline">
                <input class="form-check-input" asp-for="@Model.IsSelected[i]" />
                <label class="form-check-label" asp-for="@Model.IsSelected[i]">@Model.Languages.ElementAt(i).DevelopmentLanguage</label>
                <input type="hidden" asp-for="@Model.Languages.ElementAt(i).Language_Id" />
            </div>


        }
         @*@Html.HiddenFor(model => model.Challenges)*@
        <input type="submit" value="Search" class="btn btn-default" />
</form>


<table class="table">
    <thead>
        <tr>

            <th>
                @Localizer["Title"]
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BonusSortParm"]">@Localizer["Prize"]</a>
            </th>
            <th>
                @Localizer["Company"]
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Localizer["Date"]</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuotaSortParm"]">@Localizer["Quota"]</a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Challenges)
        {
            <tr>

                <td>
                    <a asp-controller="Challenges" asp-action="Details" asp-route-id="@item.C_Id"> @Html.DisplayFor(modelItem => item.Title) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Max_Participant)
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.Challenges.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Challenges.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.Challenges.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    @SharedLocalizer["Previous"]
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.Challenges.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    @SharedLocalizer["Next"]
</a>
