@model PlattformChallenge.Core.Model.Challenge
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["EnrollmentSucceeded"];
}

<h1> @Localizer["EnrollmentSucceededInfo"] @Model.Title </h1>

<div><a asp-action="Details" asp-route-id="@Model.C_Id">@Localizer["BackToDetails"]</a> </div>
<div><a asp-action="Index" asp-route-id="@Model.C_Id">@Localizer["BackToList"]</a> </div>
<div>
    @if (ViewContext.HttpContext.User.IsInRole("Programmer"))
    {
        <div class="btn-group btn-group-justified">    <a asp-controller="Programmer" asp-action="Index" class="btn btn-primary ">@Localizer["GoToPortal"]</a></div>
    }
</div>

@*@Html.ActionLink("Go back to details of this challenge", "Details", "Challenges", Model.C_Id)
    @Html.ActionLink("Go back to challenge list", "Index", "Challenges")*@
@*@Html.ActionLink("Go to my portal, "Portal", "Account")*@

