@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Programming Challenge Plattform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .footer-my-style p {
            margin-top: 4px;
            margin-bottom: 4px;
            color: darkgray;
            font-size: small;
        }
    </style>
</head>
<body>
    <header>
        @using Microsoft.AspNetCore.Identity
        @using PlattformChallenge.Core.Model
        @inject SignInManager<PlatformUser> SignInMananger
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 col-md-12">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <img src="~/images/logo_small.png" width="40" height="40" alt="Alternate Text" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Challenges" asp-action="Index">Challenge</a>
                        </li>

                        @if (SignInMananger.IsSignedIn(User))
                        {
                            if (ViewContext.HttpContext.User.IsInRole("Programmer"))
                            {
                                <li class="nav-item ">
                                    <a class="nav-link text-dark" asp-controller="Programmer" asp-action="Index">Portal</a>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Company"))
                            {
                                <li class="nav-item ">
                                    <a class="nav-link text-dark" asp-controller="Company" asp-action="Index">Portal</a>
                                </li>
                            }
                            <li class="nav-item">
                                <form asp-controller="account" asp-action="logout" method="post">
                                    <button type="submit" style="width:auto" class="btn btn-light" aria-hidden="true" btn btn-link py-0>@Localizer["Sign out"]   @User.Identity.Name</button>
                                </form>
                            </li>

                        }

                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">@Localizer["Log in"]</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted  navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left col-sm-auto" >
                    &copy; 2021 - Challenge Plattform - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -
                    A Teamproject of <a href="https://kit.edu"> KIT <img src="~/images/kit.JPG" alt="" style="width:80px;height:40px"></a>.
                </div>
                <div class="col-md-4 text-md-right col-sm-auto text-sm-center d-none d-sm-block">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
