@model ErrorViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Localizer["Error"]</h2>

<p>
    <div class="text-danger">@Localizer["Reason"]</div>
    <strong><code>@ViewBag.ErrorMessage</code></strong>
</p>

<a asp-controller="home" asp-action="index" class="btn btn-outline-success"
   style="width:auto">@Localizer["ClickBackToHome"]</a>

<div>
    @if (ViewContext.HttpContext.User.IsInRole("Company"))
    {
        <div class="btn-group btn-group-justified">    <a asp-controller="Company" asp-action="Index" class="btn btn-primary ">@Localizer["GoToMyPortal"]</a></div>
    }
</div>

<div>
    @if (ViewContext.HttpContext.User.IsInRole("Programmer"))
    {
        <div class="btn-group btn-group-justified">    <a asp-controller="Programmer" asp-action="Index" class="btn btn-primary ">@Localizer["GoToMyPortal"]</a></div>
    }
</div>
