@model PlattformChallenge.ViewModels.CompanyIndexViewModel;

<div class="container">
    <div class="row">
        <div class="card col-lg-3 " style="width: 18rem;">
            <img class="card-img-top" src="~/images/user.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Company.Name</h5>
                <ul>
                    <li class="card-text"> Email: @Model.Company.Email</li>
                    <li class="card-text"> participated Challenges:@Model.Challenges.Count()</li>
                </ul>
                <a asp-area="" asp-controller="Account" asp-action="ChangePassword" asp-route-email="@Model.Company.Email" class="btn btn-primary">Change Password</a>
            </div>
        </div>

        <table class="table col-lg-8 offset-lg-1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Bonus</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>All Solutions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Challenges)
                {
                    <tr>
                        <td>
                            <a asp-controller="Challenges" asp-action="Details" asp-route-id="@item.C_Id"> @Html.DisplayFor(modelItem => item.Title) </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bonus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Release_Date)
                        </td>
                        <td>

                            <a asp-controller="Challenges" asp-action="Edit" asp-route-id="@item.C_Id" class="btn-group btn-group-justified">Edit</a>
                        <td>
                            <a asp-action="AllSolutions" asp-route-c_id="@item.C_Id" class="btn-group btn-group-justified">All Solutions</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
