@model PlattformChallenge.ViewModels.ProgrammerIndexViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <img class="rounded-circle" src="@Model.LogoPath" alt="Card image cap" width="120" height="120">
                </div>
                <div class="offset-md-1  col-md-8 mt-4">
                    <h1 class=" flex-column justify-content-center">
                        @SharedLocalizer["Hello"],
                        <a asp-action="Profile" asp-route-p_id="@Model.Programmer.Id"> @Model.Programmer.Name</a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row mt-3">
        <div class="card bg-white  box-shadow col-md-7 col-sm-8">
            <div class="row">
                <div class="col-md-6 mt-5 flex-sm-row">
                    <ul class="list-unstyled">
                        <li class="media">
                            <img class="mr-3" src="~/images/undraw_Newsletter_re_wrob.png" alt="Generic placeholder image" width="65" height="65">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Email</h5>
                                @Model.Programmer.Email
                            </div>
                        </li>
                        <li class="media my-4">
                            <img class="mr-3" src="/images/undraw_online_posts_h475.png" alt="Generic placeholder image" width="65" height="65">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Phone</h5>
                                @Model.Phone
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 mt-5 flex-sm-row mt-sm-auto">
                    <ul class="list-unstyled">
                        <li class="media">
                            <img class="mr-3" src="~/images/undraw_Upvote_re_qn2k.png" alt="Generic placeholder image" width="65" height="65">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">@Localizer["In Progress"]</h5>
                                <strong>@Model.InProgress</strong>
                            </div>
                        </li>
                        <li class="media my-4">
                            <img class="mr-3" src="/images/undraw_finish_line_katerina_limpitsouni_xy20.png" alt="Generic placeholder image" width="65" height="65">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">@Localizer["Completed"]</h5>
                                <strong>  @Model.Completet </strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 card bg-white  box-shadow offset-md-1 col-sm-4 ">
            <ul class="list-unstyled mt-5">
                <li class="media">
                    <img class="mr-3" src="~/images/undraw_my_password_d6kg.png" alt="Generic placeholder image" width="65" height="65">
                    <div class="media-body">
                        <a asp-area="" asp-controller="Account" asp-action="ChangePassword" asp-route-email="@Model.Programmer.Email" class="btn btn-danger mt-2 ml-auto"> @Localizer["Change Password"]</a>
                    </div>
                </li>
                <li class="media my-4">
                    <img class="mr-3" src="/images/undraw_profile_6l1l.png" alt="Generic placeholder image" width="65" height="65">
                    <div class="media-body">
                        <a asp-action="ProfileSetting" class="btn btn-dark mt-2">@Localizer["EditProfile"]</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="row mt-4">
        <h5 class="text-muted">
            @Localizer["Challenges"]
        </h5>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 table-responsive">
            <table class="table col-md-12 table-striped table-hover" id="challenge">
                <thead>
                    <tr>
                        <th>@SharedLocalizer["Titel"]</th>
                        <th>@SharedLocalizer["Bonus"]</th>
                        <th>@SharedLocalizer["Company"]</th>
                        <th>@SharedLocalizer["Deadline"]</th>
                        <th>@SharedLocalizer["Status"]</th>
                        <th>@SharedLocalizer["Point"]</th>
                        <th>@Localizer["Cancel"]</th>
                        <th>@Localizer["UploadItem"]</th>
                        <th>@Localizer["IfWon"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Participations)
                    {
                    <tr>
                        <td>
                            <a asp-controller="Challenges" asp-action="Details" asp-route-id="@item.C_Id"> @Html.DisplayFor(modelItem => item.Challenge.Title) </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.Bonus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.Company.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.Deadline)
                        </td>

                        <td>
                            @if (item.Solution != null)
                            {
                                @Html.DisplayFor(modelItem => item.Solution.Status);
                            }
                            else
                            {
                            <span> @Localizer["No Solution"]</span>}
                        </td>

                        <td>
                            @if (item.Solution != null && item.Solution.Point != null)
                            {
                                @Html.DisplayFor(modelItem => item.Solution.Point)
                            }
                            else
                            {
                            <span> @Localizer["NotRated"]</span>}
                        </td>
                        <td>
                            @if (!item.Challenge.IsClose)
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tips-@item.C_Id">
                                    @Localizer["Cancel"]
                                </button>
                            }
                            else
                            {
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#tips-@item.C_Id" disabled>
                            @Localizer["Cancel"]
                        </button>}
                            <!-- Modal -->
                            <div class="modal fade" id="tips-@item.C_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @Localizer["Confirm"]
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Cancel" asp-route-id="@item.C_Id" class="btn btn-primary">@SharedLocalizer["Yes"]</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["No"]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <a asp-action="UploadSolution" asp-route-c_id="@item.C_Id" class="btn btn-primary">@Localizer["Upload"]</a>

                        </td>
                        <td>
                            @if (item.Challenge.IsClose)
                            {
                                if (item.Challenge.Winner_Id == Model.Programmer.Id)
                                {
                                    @Localizer["Yes"]
                                }
                                else
                                {
                                    @Localizer["No"]
                                }
                            }
                            else
                            {
                                @Localizer["NotEnded"]
                            }

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <h5 class="text-muted">
            <a asp-action="WonChallenges" class="btn btn-primary"> @Localizer["WonChallenges"]</a>
        </h5>
    </div>
</div>
