@model PlattformChallenge.ViewModels.UploadSolutionViewModel;

@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<h1>@Model.Challenge.Title</h1>
<h2>@Model.Programmer.Name</h2>
@if (Model.Participation.Solution != null)
{
    <label class="col-form-label"> @Model.Participation.Solution.FileName</label>
    <label class="col-form-label"> @Localizer["Date"]@Model.Participation.Solution.Submit_Date</label>
}

<form enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="P_Id" value="@Model.Participation.P_Id" />
    <input type="hidden" asp-for="C_Id" value="@Model.Participation.C_Id" />
    <dl>
        <dt>
            <label asp-for="@Model.SolutionFile">@Localizer["SolutionFile"]</label>
        </dt>
        <dd>
            <input asp-for="@Model.SolutionFile" type="file">
            <span asp-validation-for="@Model.SolutionFile"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="@SharedLocalizer["Upload"]" />
</form>
